<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>Hello World</h1>
</body>
</html>


<!--EJS file ek HTML + JavaScript mix hoti hai. Ye dynamic data dikhane ke kaam aati hai. -->


<!-- Step	                                           Purpose
app.set('view engine', 'ejs')                     Tell Express to use EJS as template engine
	
views/ folder	                           Default folder where Express looks for EJS files

index.ejs	                               File that contains dynamic HTML and JS

res.render('index')	                    Converts EJS → HTML and sends to browser -->